* {
    color: whitesmoke;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: #3B7861;
    width: 100%;
    height: 95px;
    box-sizing: border-box;
    justify-content: space-between;
}

.navBar img {
    display: flex;
    width: 100px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navLinks a {
    margin: 0 8px;
    text-decoration: none;
    transition: ease;
}

.navLinks a:hover {
    text-decoration: underline;
}