header {
    width: 100%;
    background-color: #3B7861;
}


.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px 5%;
}

.navBar img {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    transition: width 0.75s ease;
}

.navBar img:hover {
    width: 105px;
}

.navList {
    display: flex;
    gap: 40px;
}

.webSignUpBtn,
.mobileSignUpBtn {
    background-color: #1f4034;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.75s ease;
    text-decoration: none;
    font-weight: 600;
}

.webSignUpBtn:hover,
.mobileSignUpBtn:hover {
    background-color: #5ab592;
}

.navItem {
    margin: 0 8px;
    transition: ease;
    font-weight: 500;
}

.activeNavItem {
    border-bottom: 3px solid #1f4034;
}

.mobileBtn {
    display: none;
}

.mobileSignUpBtn {
    margin-bottom: 12px;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNavList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .navList,
    .webSignUpBtn {
        display: none;
    }

    .mobileBtn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
}