.btn {
    background-color: #1f4034;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.5s;
    text-decoration: none;
}

.btn:hover {
    background-color: #5ab592;
}