.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 132px);
    gap: 24px;
}

.aboutUs h2 {
    font-size: 2.5rem;
}

.aboutUs h3 {
    text-align: center;
    font-size: 2rem;
}
.aboutUs span {
    color: #3B7861;
}

.mvv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 36px;
}

.mvv h4 {
    font-size: 1.5rem;
    margin-top: 12px;
    color: #3B7861;
}

.mvv p {
    font-size: 1rem;
    margin-top: 24px;
}

.mission, .vision, .values {   
    width: 25%;
    min-height: 350px;
    background-color: #fff;
    padding: 20px;
    align-content: center;
    border-radius: 25px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.missionIcon, .visionIcon, .valuesIcon {
    font-size: 50px;
    color: #3B7861;
}

.missionIcon {
    transform: rotate(-90deg);
}

.valuesList {
    margin-top: 24px;
    list-style: none;
}

@media screen and (max-width: 1000px) {

    .mvv {
        flex-wrap: wrap;
    }

    .mission, .vision, .values {
        width: calc(50% - 50px);
        min-height: 300px;
    }

    .values {
        margin: 12px 0;
    }

}

@media screen and (max-width: 680px) {
    .mission, .vision, .values {
        width: calc(100% - 100px);
        margin: 12px 0;
    }
}